In [1]:
import pandas as pd

In [3]:
movies_metadata = pd.read_csv('Resources/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('Resources/ratings.csv')

In [7]:
# Reviewing extracted data
#movies_metadata.head()
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556